html,body{margin:0; padding:0;box-sizing: border-box; background-color: #fff}

body {
    font-family: 'Open Sans', sans-serif;
}

a{color:#333; text-decoration: none;}

header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


#nav {
    display:block;
    padding:0;
    margin:0;
    margin-left:-5%;
    width:100%;
    text-align: right;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
}

#nav > li {
    display:inline-block;
    padding:1em;
    margin:0;
}

#nav li a{text-align: right;color:  #041725; text-transform: uppercase;}
 
#nav_collapse{  background:#041725;display: none;}
#nav_collapse ul{
  list-style:none;  
  margin:0;
  padding:0;
  width:200px;
  margin:20px;  
  background:#041725;	
}
#nav_collapse ul li{
  display:block;
  height:20px;  
  width:20px;
  background:#041725;  
  padding:10px;
  color:white;
  border-top:1px #041725;  
}
#nav_collapse ul li:hover{
  background:#041725;
}
#nav_collapse label:before{
  height:2px;
  width:30px;
  background:white;
  display:inline-block;
  margin-left:0px;
  transition:all .5s;
  position:relative;
  opacity:1;
  color: #041725;

}
#nav_collapse label{
  display:block;
  background:white;
  width: 40px;
  height: 40px;
  color:#041725;  
  cursor:pointer; 
  font-size: 40px;
  margin-left: 10px;
  margin-top: -30px;
  float:right;
}
#nav_collapse input[type="checkbox"]{
  visibility:hidden;
  position:absolute;
}
#collapse:checked ~ li{
  display:none;
  margin-top:0; 
  color: black;
}
#collapse:checked + label:before{
  position:relative;
  right:calc(-160px);
  opacity:1;
  
}
.background {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}
.arrow {
  border: solid #041725;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	margin-bottom: 26px;
}
/* Darker background on mouse-over */
.arrow:hover {
	 border: solid #568BB0;  
	border-width: 0 3px 3px 0;
}

.container {
    display: block;
    float:left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin:0; padding:0;
}

.content {
    margin-top: 0%;
    margin-left: 0%;
    width: 50%;
    height: 100%;
    display: block;
    padding: 0 0px;
    position: absolute;
    overflow: hidden;
}

h3::first-letter {
    font-size: 1.5rem;
    font-weight: 400;
}

.content_text{
    margin-top: 0px;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
	padding: 0px 0px;
	overflow: hidden;
}


.content_text h2{ font-size: 30px;
    color: #333;
    font-weight:300;
    text-align: right;
	width: 60%;
	margin-top: 90px;
	margin-left: 35%;
	float:right;
	position: fixed;
	 text-transform: uppercase;

  }
.content_text h3{ font-size: 18px;
		  line-height: 1.4;
		  color: #333;
		  font-weight:300;
		  text-align: right;
   		  padding-right:13%;
		  width: 40%;
		  float:right;
		}


.footer {
font-size: 30px;
position: fixed;
right: 0%;
top: 50px;
width: 40%;
height:  50px;
background: white;
color: white;
text-align: center;
font-weight:300;
float: right;	
}
@media screen and (max-width : 900px ){  

#nav {display: none;}

	 
#nav_collapse{display:block;}

