html,body{margin:0; padding:0;box-sizing: border-box;   background-color: white;}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

a{color:#333; text-decoration: none;}

header {
    background-color: #041725;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;<
    left: 0;
    z-index: 100;
    text-align: center;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
header img
{
    margin-left: 20px;
    margin-top: -70px;
}
#nav {
    display:block;
    padding:0;
    margin:0;
    width:100%;
    text-align: right;
    font-size: 14px;
    background-color: #041725;
}

#nav > li {
    margin-left:-5%;
   display:inline-block;
    padding:1em;
    margin:0;
}

#nav li a{text-align: right;color:  white; text-transform: uppercase;}


.sub_navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  margin-top: 80px;
  width: 100%;
  z-index: 0;
}
li::marker {
 color: rgb(255,178,0);
}
.sub_navbar a {
  text-transform: uppercase;
  float: left;
  display: block;
  color: rgb(255,178,0);
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.sub_navbar a:hover {
  background: #ddd;
  color: black;
}

.content_smartphone {
    display:none;
}
#footer_sp{display: none;}

.dropdown {
    list-style-type: none;
    display:inline-block;
    padding:1em;
    margin:0;
    position: relative;
    display: inline-block;
}
.background {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background: url('img/infografica.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
}


#astroread{
    width:100px;
    margin-top:-105px;
    z-index:1;
    position:absolute;
}n

#date a{
    margin-left: -100px;
    width: 100px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    color: black;
    height: 70px;
    text-align: center;
    lpine-height: 0.2;
    z-index: 1;
    font-size:14px;
    position: center;
    padding-top: 25px;
    padding-bottom: -18px;
    font-weight: 400;
}
#date_num{
    font-size:30px; position: center; padding-top: 25px; font-weight: 600;
}

#date_menu {
    margin-top:80px;
    margin-left:300px;
    width:400px;
    text-align:center;
    border: 2px solid #041725;
    border-radius: 0px 0px 15px 15px;
    position:fixed;
    z-index:20;
    background-color: white;
    font-size:14px;
}

.col_footer_100 {
    display: inline-block;
    width: 100%;
    height:50px;
    background-color:#041725;
    color:white;
}


.col_footer_20{
    float: left;
    height: 130px;
    width: 20%;
    position: relative;
    bottom:0;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
    z-index:100;
}

.col_footer_60{
    text-align: center;
    float: left;
    height: 130px;
    width: 60%;
    position: relative;
    bottom:0;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
}



.col_footer_50{
 display: none;
    height: 130px;
    width: 0%;
    position: relative;
    bottom:0;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
}


.dropdown-content {
    display: none;
    position: fixed;
    color: white;
    background-color: #041725;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 16px;
    z-index: 1;
    text-align: left;
}
.dropdown-container {
  display: none;
  background-color: white;
  color: #041725;
  padding-left: 8px;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.dropdown-btn:hover {
    color: #041725;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.column_left {
    padding-left:100px;
    float: left;
    width: 60%;
}

.column_right {
    padding-right:100px;
    float: left;
    width: 40%;
}

.column_right_btn h2{
    padding-right:100px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.column_right_btn{
    margin-bottom: -200px;
}


.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #041725;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-right: 0px;
}

.sidebar a {
  padding: 30px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
    display:none;
    font-size: 20px;
  cursor: pointer;
  background-color: #041725;
  color: white;
  padding: 10px 15px;
  border: none;
  float: right;
}

.openbtn:hover {
  background-color:#041725;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

#risultati_smartphone{
    display: none;
}

#eventi_smartphone{
    display: none;
}

#eventi{
 height: 100%;
}
.background {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.arrow {
  border: solid #041725;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	margin-bottom: 26px;
}
/* Darker background on mouse-over */
.arrow:hover {
	 border: solid #568BB0;
	border-width: 0 3px 3px 0;
}

* {
  box-sizing: border-box;
}
.button_share{
    background-color: white;
    color: black;
    border: 2px solid #041725;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float:right;
}


.button_share:hover {
  background-color: #041725;
  color: white;
}

}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: absolute;
  width:100%;
  height:100%;
  margin: 0 auto;
  overflow: hidden;
}
.content_left h2 {
color: rgb(255,178,0);
text-align: right;
font-weight: 400;OB
font-size:20px;

}



hnews{ display: inline-block; text-align: left;font-size:16px; font-weight: 300; line-height: 1.4em; display: -webkit-box;
       -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right:150px; padding-left:50px; margin-top: -20px;
}


hnews_sp{ display: inline-block; text-align: left;font-size:16px; font-weight: 300; line-height: 1.4em; display: -webkit-box;
       -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right:0px; padding-left:0px; padding-bottom: 50px; margin-top: -20px;margin-left: -100px; margin-right: 100px;}

h3{text-align: left;font-size:18px; font-weight: 300; line-height: 1.8; padding-right:50px; padding-left:50px; margin-top: -20px;}
h3::first-letter {
    font-size: 1.5rem;
    font-weight: 400;
}
h_label{font-style:italic;text-align: left;font-size:14px; font-weight: 300; line-height: 1.8; padding-right:150px; padding-left:150px; margin-top: -20px;}
h2{text-align: left;font-size:18px; font-weight: 300; line-height: 1.8; padding-right:0px; padding-left:0px; margin-top: -20px;}
h2::first-letter {
    font-size: 1.5rem;
    font-weight: 400;
}
h4{text-align: left;font-size:24px; font-weight: 400; line-height: 1.8; padding-right:0px; padding-left:0px; margin-top: -20px;     text-transform: uppercase;}
h4 span::first-letter {
    font-size: 1.5rem;
    font-weight: 600;
}
h5{text-align: center;font-size:18px; font-weight: 300; line-height: 1.8; padding-right:0px; padding-left:0px; margin-top: -20px;}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: fixed;
  width: 2px;
  background-color: #041725;
  top: 0;
  bottom: 0;
  left: 150px;
  margin-left: -3px;
  height:100%;
}
/* Container around content */
.container_left {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 25%;
}
.container_right{
    padding-top:180px;
    padding-left:200px;
    padding-bottom:100px;
}
.container_right_news{
    padding-top:180px;
    padding-left:200px;
}
.container_right_risultati{
    padding-top:180px;
    padding-left:200px;
}
.container_news{
    padding-top:100px;
    padding-left:200px;
}

.container_risultati{
    padding-top:20px;
    padding-left:200px;
    padding-bottom: 30px;
}


.container_right p{
    font-weight: 400;
    text-align: left;
    color:  #041725;
    font-size: 35px;
    overflow: visible;
    padding-left:50px;
    padding-right:45%;
    margin-top:10px;
   }
.container_news p{
    font-weight: 600;
    text-align: left;
    color:  #041725;
    font-size: 30px;
    overflow: visible;
    padding-left:50px;
    padding-right:50px;
    margin-top:0px;
}

.container_risultati p{
    font-weight: 600;
    text-align: left;
    color:  #041725;
    font-size: 30px;
    overflow: visible;
    padding-left:50px;
    padding-right:50px;
    margin-top:0px;
}

.container{
    padding-top:100px;
    padding-left:100px;
    padding-right:100px;
}

.container p{
    font-weight: 400;
    text-align: left;
    color:  #041725;
    font-size: 35px;
    overflow: visible;
    padding-left:60px;
    margin-top:10px;
   }


/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 25%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

#myBtn_sharper, #myBtn_lab2go, #myBtn_coloti, #myBtn_onde,#myBtn_coloti2, #myBtn_coloti3, #myBtn_coloti4, #myBtn_seminario{
    padding:10px;
    width:300px;
    font-size: 20px;
    text-transform: uppercase;
    float:center;
    background-img: url('img/read_more_btn.png');
    margin-top:-200px;
    color: #041725;
    background-color: white;
    border: 2px solid rgb(255,178,0);
    border-radius: 10px 10px 10px 10px;
}

#Btn_news{
    padding:10px;
    width:200px;
    font-size: 16px;
    text-transform: uppercase;
    float:right;
    background-img: url('img/read_more_btn.png');
    margin-top:10px;
    margin-right:100px;
    color: #041725;
    background-color: white;
    border: 2px solid rgb(255,178,0);
    border-radius: 10px 10px 10px 10px;
}


.content{
    width:100%;

}
.content p{
    font-weight: 400;
    text-align: center;
    color:  #041725;
    font-size: 40px;
    overflow: scroll;
    padding:80px;
    padding-top:0px;
    padding-bottom:0px;
}

/* The actual content */
.content_right h2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0px 0px 0px 0px;
    height: 200px;
   }

.content_right {
  padding: 10px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  float: left;
  width: 48%;
  margin-left:1%;
  margin-right:1%;
}

.content_left {
  padding: 0px 0px;
  background-color: rgb(0,0,0,0);
  border-radius: 6px;
  margin-top:30%;
}


#date {
    margin-top: -10px;
    margin-left: -100px;
    position:absolute;
    width: 100px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    font-size: 14px;
    color: black;
    height: 70px;
    text-align: center;
    line-height: 0.2;
  z-index: 1;}


#date_news{
    margin-left: -200px;
    position:absolute;
    width: 230px;
    padding: 20px;
    background-color: white;
    border-radius: 0px 100px 100px 0px;
    font-size: 40px;
    font-family: "Impact";
    color: #041725;;
    background-color: rgb(255,178,0);

    text-align: left;
    line-height: 0.2;
  z-index: 1;}


#date_risultati{
    margin-left: -200px;
    position:absolute;
    width: 230px;
    padding: 20px;
    background-color: white;
    border-radius: 0px 100px 100px 0px;
    font-size: 40px;
    font-family: "Impact";
    color: #041725;;
    background-color: rgb(255,178,0);

    text-align: left;
    line-height: 0.2;
  z-index: 1;}


#date_risultati_smartphone{
    margin-left: -200px;
    position:absolute;
    width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 0px 100px 100px 0px;
    font-size: 26px;
    font-family: "Impact";
    color: #041725;;
    background-color: rgb(255,178,0);
    text-align: center;
    line-height: 0.2;
    z-index: 1;}

#month {
    position:absolute;
    margin-top: 60px;
    margin-left: -100px;
    width: 100px;
    border: 2px solid black;
    border-top: 0px solid black;
    padding-top: 4px;
    background-color: rgb(255,178,0);
    border-radius: 0px 0px 10px 10px;
    height: 30px;
    font-weight: 400;
    color: black;
    font-size:15px;
    text-align:center;
    z-index: 1;}

#month_start {
    position:absolute;
    margin-left: -150px;
    width: 200px;
    padding: 20px;
    background-color:white;
    text-transform:uppercase;
    height: 75px;
    font-weight: 300;
    color: #041725;
    font-size:20px;
    text-align:center;
    z-index: 1;
    line-height: 0.9;
}

.vl {
  border-left: 2px solid rgb(255,178,0);
  height: 80px;
  bakground-color: white;
  position: fixed;
  left: 150px;
  margin-left: -3px;
  top: 0;
}
.column {
    float: left;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: white;
}
.col_30{
    float: left;
    height: 300px;
    width: 30%;
    margin-right: 5%;
    position: relative;
    bottom:0;
    margin-left: 0%;
    background-color: rgb(0,0,0,0);
}

.col_footer_20{

    float: left;
    height: 130px;
    width: 20%;
    position: relative;
    bottom:0;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
}
.col_footer_60{
    float: left;
    height: 130px;
    width: 60%;
    position: relative;
    bottom:0;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
}

.col_70{
    float: left;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
}


.col_footer_50{
    display: none;
    height: 130px;
    width: 0%;
    position: relative;
    bottom:0;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
}


.col_footer_100 {
    display: inline-block;
    width: 100%;
    height:50px;
    background-color:#041725;
    color:white;
}


.card {
    background-color: white;
}

.container_box {
    display: block;
    height: 100%;
    float: right;
    overflow: visible;
    position: relative;
    padding: 0 30px;
    width:100%;
}
#team_table .container_box {
    display: inline-block;
    height: 100%;
    float: left;
    overflow: visible;
    position: absolute;
    padding: 0 0px;
    width:90%;
    margin-left: -80px;

}

.container_box::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

#eventi_2024 table{
    display: none !important;
}


#panel_advisory_board h1{
    text-align: center;
}

#panel_advisory_board h3{
    text-align: center;
    font-size: 20px;
    padding:0;
}

#panel_dipartimento h1{
    text-align: center;
}

#panel_dipartimento h3{
    text-align: center;
    font-size: 20px;
    padding:0;
}

@media screen and (max-width : 1000px ){
 html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    max-width: 100vw !important;
    overflow: hidden !important;
    overflow-y: auto !important;
  }
  html ::-webkit-scrollbar {
    display: none;
  }

  .column {
	  width: 45%;
	display: block;
	background-color: white;
    }

    #panel_advisory_board .container_box {
	display: inline-block;
	height: 100%;
	float: left;
	overflow: visible;
	position: relative;
	padding: 0 0px;
	width:100%;
	margin-left: 0px;
    }
    #panel_dipartimento .container_box {
	display: inline-block;
	height: 100%;
	float: left;
	overflow: visible;
	position: relative;
	padding: 0 0px;
	width:100%;
	margin-left: 0px;
    }

  #date {
    margin-top: -10px;
    margin-left: -100px;
    width: 100px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    color: black;
    height: 70px;
    text-align: center;
    line-height: 0.2;
    z-index: 1;
    font-size:14px;
    position: center;
    padding-top: 10px;
    font-weight: 400;
  }

#month {
    position:absolute;
    margin-top: 60px;
    margin-left: -100px;
    width: 100px;
    border: 2px solid black;
    border-top: 0px solid black;
    padding-top: 4px;
    background-color: rgb(255,178,0);
    border-radius: 0px 0px 10px 10px;
    height: 30px;
    font-weight: 400;
    color: black;
    font-size:15px;
    text-align:center;
    z-index: 1;
}


  #astroread{
      width:80px;
  }


  #date_menu {
    margin-top:80px;
    margin-left:0px;
    width:400px;
    text-align:center;
    border: 2px solid #041725;
    border-radius: 0px 0px 15px 15px;
    position:fixed;
    z-index:20;
    background-color: white;
    font-size:14px;

  }

  #month_start {
    position:absolute;
    margin-left: -200px;
    width: 200px;
    padding: 20px;
    background-color:white;
    text-transform:uppercase;
    height: 40px;
    font-weight: 300;
    color: #041725;
    font-size:20px;
    text-align:center;
    z-index: 1;
    line-height: 0.9;
}

.column_right_btn h2{
    padding-right:100px;
    float: left;
    width: 100%;
    margin-bottom: -100px;
}
.column_right_btn{
    margin-bottom: -200px;
}

.timeline::after {
    content: '';
  position: fixed;
  width: 2px;
  background-color: #041725;
  top: 0;
  bottom: 0;
  left: 20px;
  margin-left: -3px;
  height:100%;
  display: none;
}

  .container_news p{
      margin-top:100px;
      margin-left:-200px;
  }
  .container_news pr{
      margin-top:100px;
      margin-left:-200px;
  }
  .container_risultati p{
      margin-top:100px;
      margin-left:-200px;
   overflow: visible;
   text-align: center;
  }


  #title_smartphone{
    margin-top: -40px;
      margin-left:0px;
      font-weight: 600;
      text-align: left;
      color:  #041725;
      font-size: 20px;
      overflow: visible;
  }

  #risultati{
    display: none;
  }

  #eventi{
    display: none;
  }

  .content_smartphone {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }


  #risultati_smartphone{
      display: inline-block;
  }

  #eventi_smartphone{
      display: inline-block;
  }

  .col_footer_60 {
      width: 100%;
      margin-top:0px;
      background-color: #041725;
      height: 100%;
  }


  #date_menu{display: none;}
  #footer_pc{display: none;}
  #footer_sp{display: inline-block;}
 .container_right{margin-left: -80px;padding-top:200px;}
 .container_right p{margin-top:-20px; margin-left: -30px; margin-right: -100px; font-size:28px;}
 .container_right img{display:none;}
 .container_right button{margin-top:120px !important; margin-left: -70px;}
.column_left h2{margin-left: -70px; margin-right: -100px;}


#myBtn_sharper, #myBtn_lab2go, #myBtn_coloti, #myBtn_onde,#myBtn_coloti2, #myBtn_coloti3, #myBtn_coloti4, #myBtn_seminario{
    padding:5px;
    width:150px;
    font-size: 18px;
}

 .content p{
	font-size: 30px;
	padding:0;
    }

    h3{
	font-size: 16px;
	padding:0px;
    }
    .col_footer_20 {
        display: none;
        width: 0%;
        margin-top:0px;
    }

    .col_footer_60 {
        width: 100%;
        margin-top:0px;
    }

    .col_footer_50 {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        height: 110px;
    }

    header img
    {
	margin-left: 20px;
	margin-top: -20px;
    }

    #nav {display: none;}
    .openbtn {
	display:inline-block;
    }



}



/* Media queries - Responsive timeline on screens less than 600px wide */

  /* Place the timelime to the left */


  /* Make all right containers behave like the left ones */
  .right {
  left: 35%;
  }
  .content_right {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  float: left;
  width: 85%;
  margin-left:0%;
  margin-right:2%;
  margin-bottom:4%;
  }
  .content_right h2{
      height: 300px;
  }

@media screen and (max-width : 700px ){
    .column {
	width: 100%;
	display: block;
	background-color: white;
    }

    .col_footer_60 {
	height:280px;
    }

    #panel_advisory_board .container_box {
	display: inline-block;
	height: 100%;
	float: left;
	overflow: visible;
	position: relative;
	padding: 0 0px;
	width:100%;
	margin-left: 0px;
    }
    #panel_dipartimento .container_box {
	display: inline-block;
	height: 100%;
	float: left;
	overflow: visible;
	position: relative;
	padding: 0 0px;
	width:100%;
	margin-left: 0px;
    }
}
